In [20]:
import pandas as pd 

df = pd.read_html("file.html")[15]

df

          Exchange Rates                        \
          Exchange Rates
          Exchange Rates      Exchange Rates.1
0             US DOLLARS            US DOLLARS
1                   EURO                  EURO
2        STERLING POUNDS       STERLING POUNDS
3           JAPANESE YEN          JAPANESE YEN
4      SINGAPORE DOLLARS     SINGAPORE DOLLARS
5     AUSTRALIAN DOLLARS    AUSTRALIAN DOLLARS
6           SWISS FRANCS          SWISS FRANCS
7         KUWAITI DINARS        KUWAITI DINARS
8           OMANI RIYALS          OMANI RIYALS
9   SAUDI ARABIAN RIYALS  SAUDI ARABIAN RIYALS
10           UAE DIRHAMS           UAE DIRHAMS
11          QATAR RIYALS          QATAR RIYALS
12      JORDANIAN DINARS      JORDANIAN DINARS
13        BAHRAIN DINARS        BAHRAIN DINARS
14         INDIAN RUPEES         INDIAN RUPEES
15       CANADIAN DOLLAR       CANADIAN DOLLAR
16   NEW ZEALAND DOLLARS   NEW ZEALAND DOLLARS

   Rate: Rupees per unit of foreign currency as at 2024-07-25               \
                                                     Currency
                                                  Buying Rate Selling Rate
0                                             297.670               307.50
1                                             320.870               334.88
2                                             382.120               397.92
3                                               1.945                 2.02
4                                             219.030               232.26
5                                             192.290               205.46
6                                             330.700               351.89
7                                             891.240              1005.59
8                                             753.320               798.68
9                                              76.960                83.76
10                                             78.780                85.58
11                                             67.170                86.22
12                                            393.190               433.62
13                                            692.450               815.76
14                                              2.360                 3.81
15                                            214.110               224.64
16                                            173.550               183.61


       Cheques              Telegraphic Transfers
   Buying Rate Selling Rate           Buying Rate Selling Rate
0       296.45       307.50                299.50       307.50
1       318.86       334.88                323.18       334.88
2       377.75       397.92                384.57       397.92
3       1.9238       2.0200                1.9546       2.0200
4       217.16       232.26                219.58       232.26
5       185.01       205.46                192.62       205.46
6       327.27       351.89                335.07       351.89
7            -            -                     -            -
8            -            -                     -            -
9            -            -                     -            -
10           -            -                 79.80        85.58
11           -            -                     -            -
12           -            -                     -            -
13           -            -                     -            -
14           -            -                  3.45         3.81
15      212.81       224.64                214.72       224.64
16      172.17       183.61                175.84       183.61

In [2]:
count = len(df)

print(count)

52